.font-hind{
    font-family: "Hind Madurai", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1275px) and (min-width: 1181px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .container.md\:px-2.px-4.mx-auto {
        max-width: 76rem;
    }
}

@media screen and (max-width: 1180px) and (min-width: 942px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-left-part, .card-right-part{
        grid-column: span 12 / span 12;

    }

    .history-title {
        width: 100%;
    }

    .container.md\:px-2.px-4.mx-auto {
        max-width: 70rem;
    }
}

@media screen and (max-width: 941px) and (min-width: 768px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-left-part, .card-right-part{
        grid-column: span 12 / span 12;

    }

    .history-title {
        width: 100%;
    }

    h1.font-bold.lg\:text-5xl.text-2xl.lg\:py-5.py-2.leading-10 {
        font-size: 35px;
    }

    p.lg\:font-medium.font-normal.lg\:text-xl.text-sm.lg\:leading-8.leading-6.md\:px-32.px-1 {
        font-size: 17px;
        padding: 0px 40px;
        line-height: 27px;
        padding-top: 8px;
    }
}